APP_ENV=development
PORT=3000

POSTGRES_HOST=localhost
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=platam_pay
TYPEORM_PORT=5432
TYPEORM_LOGGING=false

SIGNATURE_PROVIDER=zapsign
ZAPSIGN_BASE_URL=https://api.zapsign.com.br/api/v1
ZAPSIGN_API_TOKEN=
ZAPSIGN_TEMPLATE_ID=
ZAPSIGN_SANDBOX=true
ZAPSIGN_FOLDER_PATH=platam_pay
